*{
	margin:0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
.watches{
	width:100%;
}


.row
{
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.col{
	flex-basis: 45%;
}

.slider{
	height:70vh;
	display:flex;
}

.product img
{
height:19vh;
margin-bottom: 9px;
cursor:pointer;
opacity: 0.6;
}


.product img:hover
{
opacity: 1;
}


.preview img{
	height: 100%;

}

.brand{
	background: #008000;
	width: fit-content;
	color:#fff;
	font-size: 15px;
	padding:2px 5px;
}


h2{
	font-size: 45px;
	color: #555;
	margin-bottom: 20px;
}

.price{
color: #fe980f;
font-size: 26px;
font-weight: bold;	
padding: 5px;
text-align: left;
}

input{
	width:30px;
	border:1px solid #ccc;
	font-weight: bold;
	text-align: center;
}

button{
	color:#fff;
	font-size: 15px;
	outline: none;
	border: 0;
	border-radius: 5px;
	background: #fe980f;
	padding: 10px 15px;
	box-sizing: border-box;
	cursor: pointer;
	
}
button.fa{
	margin-right: 10px;
}

.related{
	width:90%;
	margin: 0 auto 40px;
}
.related.row{
	width:100px;
	height:auto;
}
.columns{
	flex-basis: 22%;
	height:100%;
}
.items img{
	width:100%;
	
}
.details{
	margin-top:20px;
}
.details p{
	font-size: 14px;
	margin-bottom: 10px;
	color: #008000;
}
body{
	background-color: black ;
  font-family:'Roboto',sans-serif;
}


.signup-box{
	width:400px;
	height:580px;
	margin:auto;
  margin-top: 25px;
  padding-top: 10px;
	background-color: white;
	border-radius: 15px ;
  align-items: center;
  text-align: center;
  
}
.login-box{
	width: 360px;
	height: 270px;
	margin: auto;
	border-radius: 15px;
	background-color: white;
 margin-top: 25px;
 text-align: center;
 align-items: center;
}
#form_login {
  /* left      : 50%;
  top       : 50%;
  position  : absolute;
  transform : translate(-50%, -50%); */
  align-items: center;
  text-align: center;
}
h1{
	text-align: center;
	padding-top: 15px;
}
h4{
	text-align: center;

}
form{
	width: 300px;
	margin-left: 20px;
}
form label{
	display: flex;
	margin-top: 20px;
	font-size: 18px;
}
form input{
	width: 100%;
	padding:7px;
	border: none;
	border:1px solid grey;
	border-radius: 6px;
	outline: none;
}
input[type="button"]{
	width: 300px;
	height:35px;
	margin-top: 20px;
	border:none;
	background-color: #49c1a2;
	color:white;
	font-size: 18px;
}
p{
	text-align: center;
	padding-top: 20px;
	font-size: 15px;

}
/*-- ------ --*/
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@500&family=Koulen&family=Lato:ital,wght@1,100;1,400&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* header start */
#header {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  /* xaxis=0  yaxis=5px border=15px */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

  position:fixed;
	top:0;
	left:0;
	width:100px;
	background: var(--bg-color);
	box-shadow: 0 1px 4px hsl(0 4% 15% /10%);
}
#header .logo {
  padding-left: 12px;
}
.search {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.search input {
  width: 344px;
  height: 23px;
  /* top,right,bottom,left */
  margin: 0 16px 0 56px;
  border-radius: 6px;
  padding: 0 12px;
}
.search button {
  color: #185151;
  font-family: "Koulen", cursive;
  font-weight: 600;
  padding: 0 16px;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px 0 ;

}

#navbar li {
  /* parent element of anchor tag is list tag */
  list-style: none;
  padding: 0 20px;
  /* imp  */
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a9b;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: cornflowerblue;
}
/* psedu class imp */
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: cornflowerblue;
  /* used it in child element we need to use in parent element */
  position: absolute;
  bottom: -4px;
  left: 20px;
}
/* home page */
#slide {
  background-image: url("images/shop.jpg");
  height: 90vh;
  width: 100vw;
  /* imp alligning image to center */
  background-position: top 25% right 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
/* Buttons class for shop now */

#slide h1 {
  color: #193232;
  padding-bottom: 15px;
  font-size: 25px;
  
}
#slide h3 {
  font-size: 20px;
  color: #193232;
  padding-bottom: 32px;
}

#slide button {
  font-family: "Koulen", cursive;
  color: #313836;
  background-color: transparent;
  padding-left: 52px;
  padding: 14px 80px 14px 65px;
  border-radius: 6px;
  background: white;
  font-weight: 600;

  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}
/* feature section free shipping */
.section-p1 {
  padding: 20px 80px;
}
/* making all the boxes in same row */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 25px 34px rgba(16, 1, 1, 0.06);
  border: 4px solid gray;
  border-radius: 4px;
  margin: 0 15px;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(1, 1, 1, 0.83);
}
#feature .fe-box {
  margin-bottom: 10px;
}
#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #185151;
  background-color: #fddde4;
}
#product1 {
  text-align: center;
  line-height: 2;
}
#product1 h2 {
  text-align: left;
}
#product1 h1 {
  font-size: 45px;
  color: #185151;
}
#product1 .name {
  font-size: 25px;
  color: #3e404a;
}

/* Parent container */
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* to break the line */
  flex-wrap: wrap;
}

/* header to right ie protein and nutrition  */
#product1 .header {
  text-align: left;
  color: #1a1a1a;
  line-height: 2;
}
#product1 .heading {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* to break the line */
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23px;
  min-width: 260px;
  padding: 10px 12px;
  border: 4px solid gray;
  cursor: pointer;
  margin: 15px 0;
}
#product1 .pro img {
  width: 120px;

  border-radius: 10px;
}
#product1 .pro-container {
  text-align: left;
}
#product1 .pro .desc {
  text-align: start;
  padding: 5px 0;
}

#product1 .pro.desc span {
  color: rgba(165, 42, 42, 0.564);
  font-size: 12px;
}
#product1 .pro .desc h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 24px;
}
#product1 .pro .desc i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#product1 .pro .desc h4 {
  padding-top: 7px;
  font-size: 25px;
  font-weight: 700;
  color: olive;
}
/* Banner */
.section-m1 {
  margin: 40px 80px;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Apply ing all image properties her with creating annother div class */
  background-image: url("img/banner/ban1.jpg");
  height: 30vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  font-size: 20px;
  color: black;
}
#banner h2 {
  color: black;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: #5c4e4e;
}
/* Button styling for all */
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 12px 30px;
  color: black;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}
#banner button:hover {
  background: #185151;
  color: white;
}
/*cart*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root{
	--main-color:#fd4646;
	--text-color:#171427;
	--bg-color:#fff;

}
img{
	width:100%;
}

.container{
	max-width: 1068px;
	margin: auto;
	width: 100px;
  display: inline;
}
section{
	padding:4rem 0 3rem;
}
/*header{
	position:fixed;
	top:0;
	left:0;
	width:100px;
	background: var(--bg-color);
	box-shadow: 0 1px 4px hsl(0 4% 15% /10%);
}*/
.nav
{
	display:flex;
	align-items:center;
	justify-content: space-between;
	padding: 20px 0;
}
.logo{
	font-size:1.1rem ;
	color:var(--text-color);
	font-weight: 400;
}
#cart-icon{
	font-size:1.8rem ;
	cursor:pointer;
}
.cart{
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: var(--bg-color);
  box-shadow: -2px 0 4px hsl(0 4% 15%/10%);
transition: 0.3s;

}
.cart.active{
  right:0;
}

.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight:600;
  margin-top: 2rem;

}
.cart-box{
  display:grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap:1rem;
  margin-top: 1rem;

}
.cart-img{
  width:100px;
  height:100px;
  object-fit: contain;
  padding:10px;

}
.detail-box{
  display:grid;
  row-gap:0.5rem;
}
.cart-product-title{
  font-size: 1.5rem;
  text-transform: uppercase;
}
.cart-price{
  font-weight: 500;
}
.cart-quantity{
  border:1px solid var(--text-color);
  outline-color: var(--main-color);
  width:2.4rem;
  text-align:center;
  font-size: 1rem;

}
.cart-remove{
  font-size:24px;
  color:var(--main-color);
  cursor:pointer;
}
.total{
  display:flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-color: 1px solid var(--text-color);
}
.total-title{
  font-size: 1rem;
  font-weight: 600;
}
.total-price{
  margin-left:0.5rem;
}
.btn-buy{
  display:flex;
  margin:1.5rem auto 0 auto;
  padding:12px 20px;
  border:none;
  background: var(--main-color);
  color:var(--bg-color);
  font-size: 1rem;
  font-weight: 500;
  cursor:pointer;

}
.btn-buy:hover{
  background: var(--text-color);
}
#close-cart{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--text-color);
  cursor:pointer;
}
.section-title{
	font-size: 1.5rem;
	font-weight:600;
	text-align:center;
	margin-bottom: 1.5rem;

}


.shop{
	margin-top:2rem;

}
/*shop content*/
.shop-content{
	display:grid;
	grid-template-columns: repeat(3,20%);
  gap:20px;
}
.product-box{
	position:relative;
}
.product-box:hover{
	padding:10px;
	border:1px solid var(--text-color);
  transition:0.4s;

}
.product-img{
  width:100% ;
  height:auto;
  
}
.product-title{
  font-size: 1.1rem;
  font-weight: 600;
  text-transform:uppercase ;
  margin-bottom: 0.5rem;
  
}
.price{
  font-weight: 500;
}
.add-cart{
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--text-color);
  color:var(--bg-color);
  padding:10px;
  cursor:pointer;
}
.add-cart:hover{
  background: hsl(249,32%,17%);
}


